/* My */
.tableWrapper {
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (min-width: 768px) {
    max-height: 153px;
  }
}

.table {
  width: 100%;
  color: var(--main-text-color);

  border-collapse: separate;
  border-spacing: 8px;
}

/* div */
.tableHead {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--accent-medium-transparent-color);
  font-size: 12px;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

/* table */
.tableBody {
  grid-column: none;
  color: var(--main-text-color);
  border-collapse: separate;
  border-spacing: 8px;
}

/* p */
.title {
  @media screen and (min-width: 768px) {
    margin-right: 285px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 345px;
  }
}

.titleWrapper{
  width: 256px;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

/* p */
.category {
  @media screen and (min-width: 768px) {
    margin-right: 45px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 60px;
  }
}

.categoryWrapper{
   width: 256px;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

/* p */
.calories {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 35px;
  }
}

.caloriesWrapper{
  width: 256px;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

/* p */
.weight {
  @media screen and (min-width: 768px) {
    margin-right: 25px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 40px;
  }
}

.weightWrapper{
  width: 256px;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}


/* p */
.recommended {
}

/* tr */
.tableRow {
}

/* td */
.tableCell {
  display: inline-block;
  padding: 8px 14px 8px 14px;

  border: 1px solid var(--transparent-medium-3);
  border-radius: 12px;
  font-size: 16px;

    @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    display: table-cell;
    margin-bottom: 0px;
  }
}

/* td last-child */
.tableCell:last-child {
  border: none;
}

/* Yes */
.isRecommendedYes {
  display: inline-block;
}

.isRecommendedYes::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--positive-color);
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}


/* No */
.isRecommendedNo {
  display: inline-block;
}

.isRecommendedNo::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

/* svg */
.deleteBtn {
  display: block;

  cursor: pointer;
  fill: transparent;
  stroke: var(--accent-medium-transparent-color);
  width: 20px;
  height: 20px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    padding-top: 40%;
    padding-left: 2px;
    padding-right: 2px;
  }
}



.productsStatusRecommendedTextTrue {
  color: var(--main-text-color);
  font-size: 12px;
  line-height: 18px;
  display: flex;
  margin-right: 16px;
  align-items: center;
}

.productsStatusRecommendedTextTrue::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: var(--positive-color);
  margin-right: 8px;
}

.productsStatusRecommendedTextFalse {
  color: var(--main-text-color);
  font-size: 12px;
  line-height: 18px;
  display: flex;
  margin-right: 16px;
  align-items: center;
}

.productsStatusRecommendedTextFalse::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: var(--negative-color);
  margin-right: 8px;
}