.DayProducts {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.DayProductsNotFound {
  width: 100%;
  height: 335px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 234px;
  }
}

.DayProductsTable tbody {
  display: flex;
  flex-direction: column-reverse;
}

.DayProducts ::-webkit-scrollbar {
  width: 6px;
}
.DayProducts ::-webkit-scrollbar-thumb {
  background: #efede81a;
  border-radius: 12px;
}
span {
  display: flex;
  align-items: center;
  gap: 8px;
}

span p {
  display: inline-block;
}

.DayProducts .tdDellete {
  border: none;
  padding-left: 4px;

  @media screen and (min-width: 768px)  {
    padding: 0px;
  }
  @media screen and (min-width: 1440px)  {
    padding-left: 2px;
  }
}

.DayProducts .tdDellete button {
  display: block;
  background-color: transparent;
}

.DayProducts .tdDellete svg {
  display: block;
  width: 20px;
  height: 20px;

  @media screen and (min-width: 768px) {
    display: block;
    width: 20px;
    height: 20px;
  }
}

.DayProductsTable table {
  display: block;
  /* position: relative; */
  border-spacing: 8px;
  border-collapse: separate;
}

.DayProducts thead {
    display: none;
  /* @media screen and (min-width: 768px)  {
    display: block;
  } */
  @media screen and (min-width: 1440px)  {
    display: block;
  }
}

.DayProducts tbody {
  display: block;
  color: var(--main-text-color);
  overflow-y: hidden;
  overflow-x: hidden;
  border-collapse: separate;
border-spacing: 8px;
}

.DayProducts th {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #ef8964;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.DayProducts td {
    position: relative;
    display: inline-grid;
    align-items: center;
    margin-bottom: 42px;

  @media screen and (min-width: 768px) {
  font-size: 16px;
  }
}

.DayProducts td div {
  font-size: 14px;
  height: 40px;
  border-radius: 12px;

  border: 1px solid var(--transparent-medium-2);
  padding: 8px 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.DayProducts td span {
  font-size: 14px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid var(--transparent-medium-2);
  padding: 8px 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tdTitle,
.thTitle {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 204px;
  }

  @media screen and (min-width: 1440px) {
    width: 212px;
  }
}

.tdCategory,
.thCategory {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 128px;
  }

  @media screen and (min-width: 1440px) {
    width: 166px;
  }
}

.tdCalories,
.thCalories {
 width: 105px;

 @media screen and (min-width: 768px) {
  width: 90px;

}

  @media screen and (min-width: 1440px) {
    width: 105px;
  }
}

.tdWeight,
.thWeight {
  width: 105px;

  @media screen and (min-width: 768px) {
    width: 90px;
  }

  @media screen and (min-width: 1440px) {
   width: 105px;
  }

}
.tdRecommend,
.thRecommend {
  width: 110px;

  @media screen and (min-width: 768px) {
    width: 80px;
  }

  @media screen and (min-width: 1440px) {
    width: 110px;
  }
}

.recommendCircle {
  display: block;
  width: 14px;
  height: 14px;
}

.btnAddProduct {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrowIcon {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 768px) {
  /* .DayProducts thead {
    display: none;
  } */

  .DayProducts tr {
    display: block;
    margin-top: 24px;
  }
  
  .DayProducts td:nth-of-type(1)::before {
    content: 'Title';
    position: absolute;
    top: -24px;
    font-size: 12px;
    color: #ef8964;
  }

  .DayProducts td:nth-of-type(2)::before {
    content: 'Category';
    position: absolute;
    top: -24px;
    font-size: 12px;
    color: #ef8964;
  }

  .DayProducts td:nth-of-type(3)::before {
    content: 'Calories';
    position: absolute;
    top: -24px;
    font-size: 12px;
    color: #ef8964;
  }

  .DayProducts td:nth-of-type(4)::before {
    content: 'Weight';
    position: absolute;
    top: -24px;
    font-size: 12px;
    color: #ef8964;
  }

  .DayProducts td:nth-of-type(5)::before {
    content: 'Recomended';
    position: absolute;
    top: -24px;
    font-size: 12px;
    color: #ef8964;
  }
}

.linkProducts {
  transition: color var(--transition-duration) var(--transition-cubic);
}

.linkProducts:hover,
.linkProducts:focus {
  color: var(--main-text-color);
}
