.productsList {
  height: 487px;
  width: 842px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 28px;
}

.productsItem {
  /* display: flex; */
  /* flex-wrap: wrap; */
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: var(--main-text-color);
  width: 405px;
  height: 141px;
  background-color: var(--transparent-medium-5);
  border: 1px solid var(--transparent-medium-3);
  border-radius: 12px;
}
.productsDiet {
  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  width: 41px;
  height: 24px;
  padding: 5px 7.5px;
  border-radius: 4px;
  gap: 10px;
  color: var(--main-text-color);
  background-color: var(--transparent-medium-3);
  text-align: center;
}
.productBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}
.titleBox {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 27px;
}
.title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  width: 333px;
  height: 32px;
  overflow: hidden;
}
.caloriesCountBox {
  position: absolute;
  right: 20px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 8px;
  border-radius: 12px;
  background: var(--accent-medium-color);
  width: 119px;
  height: 76px;
  padding-left: 18px;
  @media screen and (min-width: 768px) {
    right: 32px;
    bottom: 48px;
    gap: 12px;
    width: 180px;
    height: 110px;
    padding-left: 32px;
  }
  @media screen and (min-width: 1440px) {
    right: 32px;
    bottom: 150px;
  }
}

.caloriesCountBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--accent-light-color);
  border-radius: 50%;
}
.runIcon {
  fill: var(--main-text-color);
}
.productInfoItem {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--transparent-medium-1);
}
.productInfoItem span {
  color: var(--main-text-color);
}
.btnAdd {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  color: var(--accent-bright-transparent-color);
}
.btnAdd:hover {
  color: var(--accent-medium-transparent-color);
}
.productRecommended {
  display: flex;
  gap: 8px;
  align-items: center;
}
.productRecommended p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-text-color);
}
.productsList::-webkit-scrollbar {
  width: 2px;
  background-color: var(--transparent-medium-5);
}

.productsList::-webkit-scrollbar-thumb {
  background-color: var(--transparent-light-4);
}
