.exercisesList {
  display: grid;
  gap: 20px;
  margin-top: 40px;
  padding-bottom: 134px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 78px;
    margin-top: 64px;
    gap: 32px 16px;
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 92px;
    margin-top: 64px;
    gap: 32px 16px;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}
