.UserCard {
  align-items: center;
  justify-content: center;
  max-width: 439px;
  border-left: none;
  margin: 40px auto 0 auto;
  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 60px;
    margin-top: 27px;
    margin-right: 0;
  }
}

.avatar {
  width: 90px;
  height: 90px;
  position: relative;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 150px;
  }
  @media screen and (min-width: 1440px) {
    width: 150px;
    height: 150px;
    margin-left: 144px;
  }
}

.avatar_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 9999px;
  border: 1px solid var(--accent-bright-color);
}

.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.avatar_name {
  color: var(--main-text-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
  margin-top: 32px;
  margin-bottom: 8px;
  text-align: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 4px;
    margin-top: 31px;
    font-size: 18px;
    line-height: 1.1;
  }
}

.text {
  color: var(--transparent-light-4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 32px;
  text-align: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
}
.avatar_icon {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url(../../../images/check\ mark.svg);
  @media screen and (max-width: 767px) {
    width: 24px;
    height: 24px;
    bottom: -12px;
  }
}

.info_container {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  overflow: hidden;
  @media screen and (max-width: 374px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (max-width: 767px) {
    gap: 13px;
  }
}

.info_card1 {
  width: 157px;
}

.info_card2 {
  width: 165px;
}

.info_card {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-weight: 700;
  font-size: 14px;
  user-select: none;
  background: var(--accent-bright-color);
  color: var(--main-text-color);
  border-radius: 12px;
  margin-bottom: 40px;
  padding: 14px;
  white-space: nowrap;
  @media screen and (min-width: 768px) {
    width: calc((100% - 16px) / 2);
    padding: 18px;
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.info_icon,
.info_icon2 {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.info_icon {
  background-image: url(../../../images/fluent_food-24-filled.svg);
}
.info_icon2 {
  background-image: url(../../../images/dumbbell.svg);
}
.info_text {
  color: var(--transparent-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.info_text_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.file_input {
  position: absolute;
  display: block;
  inset: 0;
  color: transparent;
  opacity: 0;
  cursor: pointer;
}

.file_input::-webkit-file-upload-button {
  appearance: none;
  opacity: 0;
}
.text_container {
  display: flex;
  gap: 8px;
}

.text_icon {
  background-image: url(../../../images/tabler_exclamation-mark.svg);
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background-color: var(--accent-light-color);
  flex-shrink: 0;
  margin-top: 4px;
}

.text_info {
  color: var(--transparent-medium-2);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.28;
  }
}

.logout_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  @media screen and (max-width: 767px) {
    margin-top: 41px;
  }
}
