.excercisesCardDiet {
  display: inline-flex;
  padding: 5px 7.5px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--transparent-medium-5);
}
.exercisesCardBtnStart:hover,
.exercisesCardBtnStart:focus {
  color: var(--main-text-color);
  transition: var(--main-text-color) var(--transition-duration)
    var(--transition-cubic);
}

.exercisesCardBtnStart {
  background: transparent;
  border: none;
  color: var(--accent-bright-color);
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.exercisesCardBtnStart::after {
  content: url(../../../images/arrow-products-icon.svg);
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-top: -3px;
}
.excercisesCardDietText {
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.excercisesCardStatus {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 27px;
  justify-content: space-between;
}

.excercisesCardInfo {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.excercisesCardInfoItem {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: var(--transparent-medium-1);
  font-size: 12px;
  line-height: 18px;
}

.excercisesCardInfoValue {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--main-text-color);
  font-size: 12px;
  line-height: 18px;
}

.excercisesCardTitle {
  position: relative;
  font-size: 24px;
  line-height: 1.333;
  color: var(--main-text-color);

  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 40px;
  max-width: 100%;
}

.excercisesCardTitle::before {
  content: url(../../../images/run-icon.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: calc(50% - 12px);
}

.excercisesCardBtnAdd:hover,
.excercisesCardBtnAdd:focus {
  color: var(--main-text-color);
  transition: var(--main-text-color) var(--transition-duration)
    var(--transition-cubic);
}

.excercisesCardBtnAdd {
  background: transparent;
  border: none;
  color: var(--accent-bright-color);
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.excercisesCardBtnAdd::after {
  content: url(../../../images/arrow-products-icon.svg);
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-top: -3px;
}

.excercisesStatusRecommendedTextTrue {
  color: var(--main-text-color);
  font-size: 12px;
  line-height: 18px;
  display: flex;
  margin-right: 16px;
  align-items: center;
}

.excercisesStatusRecommendedTextTrue::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: var(--positive-color);
  margin-right: 8px;
}

.excercisesStatusRecommendedTextFalse {
  color: var(--main-text-color);
  font-size: 12px;
  line-height: 18px;
  display: flex;
  margin-right: 16px;
  align-items: center;
}

.excercisesStatusRecommendedTextFalse::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: var(--negative-color);
  margin-right: 8px;
}

.excercisesCardStatusCont {
  display: flex;
  align-items: center;
}
