.section {
  background-image: url(../../images/side-view-people-training-gym\ 1-1.jpg);
  color: var(--transparent-light-1);
  background-repeat: no-repeat;
  background-position: bottom 0 right -40%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.left {
  background: var(--accent-bright-color);
  max-width: calc(64%);
  height: 100%;
  box-sizing: border-box;
  padding: 24px 20px;
  display: flex;
}
.content {
  margin-top: auto;
  margin-bottom: auto;
}

.title404 {
  font-size: 66px;
  line-height: 1;
  letter-spacing: 0.66px;
}
.text404 {
  width: 200px;
  font-size: 14px;
  margin-top: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(18 / 14);
}
.btn {
  margin-top: 28px;
}
.btnLogo {
  background: transparent;
  position: absolute;
  left: 20px;
  top: 24px;
}

@media screen and (min-width: 375px) {
  .section {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    max-width: none;
    width: 768px;
    background-image: url(../../images/side-view-people-training-gym\ 1-1.jpg);
    background-position: bottom 0 right 0%;
  }

  .title404 {
    font-size: 160px;
    line-height: calc(150 / 160);
    letter-spacing: 1.6px;
  }
  .text404 {
    width: 356px;
    font-size: 16px;
    margin-top: 28px;
    line-height: calc(24 / 16);
  }
  .left {
    max-width: none;
    width: 420px;
    padding: 32 32px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    width: 1440px;
    height: 800px;
    background-image: url(../../images/side-view-people-training-gym\ 1-1.jpg);
  }

  .text404 {
    width: 477px;
  }
  .left {
    width: 669px;
    padding: 32px 96px;
  }
}
