.btnLogout {
  display: flex;
  gap: 8px;
  align-items: center;

  font-size: 16px;
  color: #efede8;
  :hover {
    color: #e6533c;
  }
}

.btnIcon {
  width: 30px;
  height: 30px;
  fill: #e6533c;
}
