.dayProductsWrapper {
  height: 241px;

  padding: 0 16px;
  border-radius: 12px;
  border: 1px solid var(--transparent-medium-3);
  background: var(--transparent-medium-5);
  box-shadow: 0px 4px 4px 0px var(--transparent-dark-5),
    0px 4px 4px 0px var(--transparent-dark-5),
    0px 4px 4px 0px var(--transparent-dark-5);
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  /* margin-bottom: 32px; */
}

.btnWrapper {
  display: flex;
  align-items: center;
  color: var(--accent-bright-color);
}

.title {
  color: var(--transparent-light-4);
  font-size: 14px;
  line-height: 1.2;
}

.addProductBtn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  margin-right: 8px;
}

.errNotFound {
  color: var(--transparent-medium-2);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .dayProductsWrapper {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .dayProductsWrapper {
    width: 826px;
  }
}
