.exerciseList {
  margin-top: 48px;
}

@media screen and (min-width: 375px) {
  .exerciseList {
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 16px;
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .exerciseList {
    overflow-y: scroll;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 660px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .exerciseList {
    max-width: 842px;
    max-height: 487px;
  }
}

.exercise_list::-webkit-scrollbar {
  width: 8px;
}

.exerciseList::-webkit-scrollbar-track {
  background: var(--transparent-medium-4);
  border-radius: 12px;
}

.exerciseList::-webkit-scrollbar-thumb {
  background-color: var(--accent-medium-color);
  border-radius: 12px;
}

.FormModal {
  width: 100%;
  max-width: 694px;
  max-height: calc(100vh - 30px);
  overflow: hidden;
  @media screen and (max-width: 767px) {
    max-width: 335px;
    height: 100%;
  }
}

.ModalBackdrop {
  background-color: rgba(4, 4, 4, 0.4) !important;
}
