.nav {
  display: block;
  margin-top: -20px;
  margin-left: 24px;

  @media screen and (min-width: 768px) {
    margin-top: -32px;
    margin-left: 32px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: -20px;
    margin-left: 117px;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;

  width: 192px;

  @media screen and(min-width: 768px) {
    width: 282px;
  }
}



.link {
  position: relative;
  content: '';
  text-decoration-line: none;
  padding-bottom: 4px;
}

.link::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  border-radius: 2px;
  background-color: #303030;

  width: 80px;
  height: 4px;
}

.active {
  position: relative;
  content: '';
  text-decoration-line: none;
  padding-bottom: 4px;
}

.active::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  border-radius: 2px;
  background: #ef8964;
  box-shadow: 0px 1px 10px 0px rgba(230, 83, 60, 0.8);

  width: 80px;
  height: 4px;
}

.visited {
  position: relative;
  content: '';
  text-decoration-line: none;
  padding-bottom: 4px;
}

.visited::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  border-radius: 2px;
  background: #efa082;

  width: 80px;
  height: 4px;
}

