.header {
  padding: 12px 18px;
 display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  padding: 18px 19px;
  width: 100%;

  @media screen and (min-width: 375px) {
    height: 61px;
    gap: 96px;
  }

  @media screen and (min-width: 768px) {
    gap: 415px;
  }

  @media screen and (min-width: 1440px) {
    height: 84px;
    padding: 20px 96px;
    gap: 514px;
  }
}

.wrapNavDesktop {
  display: none;

  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    font-size: 24px;
    z-index: 999;
  }
}

.wrapNavMob {
  display: flex;
  align-items: center;
  
  @media screen and (min-width: 375px) {
   gap: 27px;
  margin-left: 14px;
  }

  @media screen and (min-width: 768px) {
   
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.mobileBtn {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;

  border: none;
  width: 24px;
  height: 24px;

  @media screen and (min-width: 375px) {
    width: 32px;
    height: 32px;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.mobileIcon {
  fill: #e6533c;
  width: 24px;
  height: 24px;

  @media screen and (min-width: 375px) {
    width: 32px;
    height: 32px;
  }
}

.closeIcon {
  fill: #efede8;
  width: 24px;
  height: 24px;

  @media screen and (min-width: 767px) {
    display: none;
  }
}
