.header {
  position: fixed;
  z-index: 1;
  width: auto;
  margin-left: 0;
  margin-right: 0;

  display: flex;
  justify-content: space-between;
  gap: 96px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 58px;

  @media screen and (min-width: 375px) {
    gap: 96px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 80px;
    gap: 415px;
  }

  @media screen and (min-width: 1440px) {
    height: 84px;
    gap: 514px;
  }
}

.wrapNavDesktop {
  display: none;

  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    font-size: 24px;
    z-index: 999;
  }
}

.wrapNavMob {
  display: flex;
  align-items: center;
  /* gap: 14px; */

  @media screen and (min-width: 375px) {
    gap: 27px;
    margin-left: 14px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.mobileBtn {
  display: block;
  position: absolute;
  right: 18px;
  top: 19px;
  z-index: 999;

  border: none;
  width: 24px;
  height: 24px;

  @media screen and (min-width: 375px) {
    right: 18px;
    top: 16px;
  }

  @media screen and (min-width: 768px) {
    right: 26px;
    top: 26px;
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.mobileIcon {
  fill: #e6533c;
  width: 24px;
  height: 24px;

  @media screen and (min-width: 375px) {
    width: 32px;
    height: 32px;
  }
}

.closeIcon {
  fill: #efede8;
  width: 24px;
  height: 24px;

  @media screen and (min-width: 1140px) {
    display: none;
  }
}
