.header {
    width: 100%;
    height: 84px;
    padding: 20px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #040404;
  }
  
  .wrapNavDesktop {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 27px;
    }
  }
  
  .useDesktop {
    display: none;
  }
  
  .wrapNavMob {
     display: flex;
      align-items: center;
      gap: 27px;
    
    @media screen and (min-width: 768px) {
   display: none;
  }}
  
  .mobMenu {
    @media screen and (min-width: 768px) {
    } display: none;
  }
  
  .headerMenuBtn {
    display: block;
      margin-left: auto;
      fill: #e6533c;
      width: 24px;
      height: 24px;
      padding: 0;
      border: none;
   @media screen and (min-width: 767px) {
    } display: none;
  }
  
  .headerCloseBtn {
    display: none;
  }
  
  @media (max-width: 768px) {
    .mobMenu {
      position: absolute;
      top: 0px;
      right: 0px;
  
      display: flex;
      flex-direction: column;
      align-items: center;
  
      padding: 19px 20px;
  
      width: 200px;
      height: 100%;
  
      background-color: #e6533c;
      transition: transform 0.3s linear;
    }
  
    .mobMenu:active {
      transform: translateX(-100%);
    }
  
    .headerMenuBtn {
      display: block;
      margin-left: auto;
      fill: #e6533c;
      width: 24px;
      height: 24px;
      padding: 0;
      border: none;
    }
  
    .headerCloseBtn {
      position: relative;
      top: 0;
      right: 0;
      display: block;
      fill: #efede8;
      width: 24px;
      height: 24px;
    }
  }
  