.container {
  padding: 0;
}

.headerPosition {
  position: fixed;
  z-index: 200;
  min-width: 320px;
  margin-left: 0;
  margin-right: 0;

  display: flex;
  justify-content: space-between;
  gap: 96px;

  padding-left: 20px;
  padding-right: 20px;
  padding-right: 58px;

  @media screen and (min-width: 375px) {
    gap: 96px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 415px;
  }

  @media screen and (min-width: 1440px) {
    height: 84px;
    padding-left: 96px;
    padding-right: 96px;
    gap: 514px;
  }
}
.headerNoPosition {
  min-width: 320px;
  /* margin-left: 0;
  margin-right: 0; */
  gap: 90px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--transparent-medium-3);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 58px;

  @media screen and (min-width: 375px) {
    gap: 96px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 32px;
    gap: 415px;
  }

  @media screen and (min-width: 1440px) {
    height: 84px;
    gap: 514px;
  }
}

.wrapNavDesktop {
  display: none;

  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    font-size: 24px;
    z-index: 999;
  }
}

.wrapNavMob {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.mobileBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
  border: none;
  width: 24px;
  height: 24px;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.mobileIcon {
  fill: #e6533c;
  width: 24px;
  height: 24px;

  @media screen and (min-width: 375px) {
    width: 32px;
    height: 32px;
  }
}
