.backGround {
  position: relative;
  width: 100vw;
  height: 130vh;
  background-image: url(../../images/side-view-people-training-gym@1x.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  padding-top: 127px;
  @media screen and (min-width: 768px) {
    padding-top: 141px;
    height: 100vh;
  }
  @media screen and (min-width: 1440px) {
    background-image: url(../../images/side-view-people-training-gym\ 1-1.jpg);
  }
}
.screen {
  width: 335px;
  @media screen and (min-width: 768px) {
    min-width: 496px;
  }
}
.videoCountBox {
  position: absolute;
  right: 108px;
  bottom: 186px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--transparent-dark-1);
  width: 146px;
  height: 66px;
}
@media screen and (min-width: 768px) {
  .videoCountBox {
    right: 231px;
    bottom: 214px;
    width: 206px;
    height: 96px;
    gap: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .videoCountBox {
    right: 385px;
    bottom: 340px;
    width: 206px;
    height: 96px;
    gap: 12px;
  }
}

.caloriesCountBox {
  position: absolute;
  right: 20px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 8px;
  border-radius: 12px;
  background: var(--accent-medium-color);
  width: 119px;
  height: 76px;
  padding-left: 18px;
}
@media screen and (min-width: 768px) {
  .caloriesCountBox {
    right: 32px;
    bottom: 48px;
    gap: 12px;
    border-radius: 12px;
    background: var(--accent-medium-color);
    width: 180px;
    height: 110px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .caloriesCountBox {
    right: 32px;
    bottom: 150px;
    gap: 12px;
    border-radius: 12px;
    background: var(--accent-medium-color);
    width: 180px;
    height: 110px;
    padding-left: 32px;
  }
}

.caloriesCountBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--accent-light-color);
  border-radius: 50%;
}
.runIcon {
  fill: var(--main-text-color);
}
.caloriesCount {
  color: var(--main-text-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(18 / 16);
}
@media screen and (min-width: 768px) {
  .caloriesCount {
    font-size: 48px;
    line-height: calc(50 / 48);
  }
}
.caloriesTutorial {
  color: var(--transparent-light-3);
  font-family: Roboto;
  font-size: 12px;
  line-height: calc(16 / 12);
}
@media screen and (min-width: 768px) {
  .caloriesTutorial {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
.caloriesContent {
  gap: 8px;
  display: flex;
  flex-wrap: nowrap;
}

.videoCountBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--accent-medium-transparent-color);
  border-radius: 50%;
}

.videoPlayIcon {
  width: 12px;
  height: 12px;
}
@media screen and (min-width: 768px) {
  .videoPlayIcon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .videoCountBack {
    width: 40px;
    height: 40px;
  }
}
.videoCount {
  color: var(--main-text-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(18 / 16);
}
@media screen and (min-width: 768px) {
  .videoCount {
    font-size: 24px;
    line-height: calc(24 / 24);
  }
}
.videoTutorial {
  color: var(--transparent-light-3);
  font-family: Roboto;
  font-size: 12px;
  line-height: calc(16 / 12);
}
@media screen and (min-width: 768px) {
  .videoTutorial {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.line {
  position: absolute;
  top: 48px;
  left: -10px;
}

.title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 38px;
  line-height: 1.1;
  text-align: left;

  width: 335px;
  height: 120px;

  color: #efede8;
}
.infoWelcome {
  position: absolute;
  z-index: 100;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}
.buttonUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 136px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 40px;
  background: #e6533c;
  color: #efede8;
  border-radius: 12px;
  cursor: pointer;

  z-index: 100;
  &:hover {
    background-color: #ef8964;
  }
}
.buttonIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 130px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 40px;
  background: #040404;
  color: #efede8;
  border-radius: 12px;
  border: 1px solid #efede8;
  cursor: pointer;

  z-index: 100;
  &:hover {
    border: 1px solid #e6533c;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 70px;
    width: 590px;
    height: 234px;
  }

  .line {
    width: 185px;
    height: 67px;
    top: 84px;
    left: -10px;
  }

  .buttonText {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .line {
    width: 185px;
    height: 67px;
  }

  .buttonUp {
    width: 190px;
    height: 56px;
  }
  .buttonIn {
    width: 190px;
    height: 56px;
  }
  .title {
    font-weight: 500;
    font-size: 70px;
  }
  .buttonText {
    font-size: 20px;
  }

  .buttonContainer {
    display: flex;
  }
}
