.wrapper {
  padding: 6px 12px;
  color: var(--main-text-color);
  background: var(--accent-medium-color);
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    margin-top: 33px;
    margin-bottom: 33px;
    padding: 8px 12px;
    font-size: 16px;
  }
}

.btn {
  width: 195px;
  color: var(--main-text-color);
  background: var(--accent-medium-color);
  border-radius: 8px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 12px;
  font-size: 16px;
  justify-content: space-around;
  align-items: center;
}

.react-datepicker__wrapper {
  position: relative;
}

.react-datepicker {
  position: absolute;
  right: 12%;
  top: 20%;
  transform: translate(-1%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 354px;
  padding: 9px 18px;
  background-color: var(--accent-medium-color);
  font-family: Inter;
  border-radius: 16px;
}
.react-datepicker__month-container {
  float: inherit;
  box-sizing: border-box;
}
.react-datepicker__header {
  position: relative;
  background-color: var(--accent-medium-color);
}
.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  border-bottom: 1px solid var(--transparent-medium);
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-bottom: 0px;
  padding: 0;
}
.react-datepicker__day
  react-datepicker__day--018.react-datepicker__day--selected
  react-datepicker__day--today {
  outline: none;
  border: none;
}
.react-datepicker__current-month {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: var(--main-text-color);
}
.react-datepicker__day-name {
  margin: 0;
  padding: 8px 8px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  color: var(--main-text-color);
}
.react-datepicker__navigation {
  margin-top: 24px;
  color: var(--main-text-color);
}
.react-datepicker__navigation--previous {
  left: 7px;
  width: 18px;
  height: 18px;
}
.react-datepicker__navigation--next {
  right: 7px;
  width: 18px;
  height: 18px;
}
.react-datepicker__navigation-icon::before:hover:focus {
  border-color: var(--main-text-color);
}
.react-datepicker__week {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-text-color);
}
.react-datepicker__day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: var(--main-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.react-datepicker__month {
  display: flex;
  gap: 7px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  margin: 0;
}
.react-datepicker__day--selected {
  background-color: var(--main-text-color);
  color: var(--accent-medium-color);
  font-size: 14px;
}
.react-datepicker__day--selected:hover {
  border-radius: 50%;
  background-color: var(--main-text-color);
}
.react-datepicker__day:hover {
  border-radius: 50%;
  background-color: var(--main-text-color);
  color: var(--accent-medium-color);
}
.react-datepicker__day--keyboard-selected {
  border-radius: 50%;
  background-color: var(--main-text-color);
  color: var(--accent-medium-color);
}
.react-datepicker__day--weekend {
  opacity: 50%;
}
.react-datepicker__day--outside-month {
  background-color: transparent;
  pointer-events: none;
  opacity: 0;
}
.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 13px;
}
.react-datepicker__triangle {
  visibility: hidden;
}
