.form {
  max-width: 1440px;
  max-height: 812px;

  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:768px) {
    max-height: 1024px;
  }

  @media screen and(min-width:1440) {
    height: 100vh;
  }
}

.containerParams {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  height: 812px;

  padding-top: var(--padding-top-bg-mob);

  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    height: 100vh;
    padding-top: var(--padding-top-bg-desktop);

    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1440px) {
    height: 100vh;

    padding-top: var(--padding-top-bg-desktop);
    flex-direction: row-reverse;
    padding-left: 96px;
    padding-right: 32px;
  }
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  /* margin-bottom: 200px; */

  @media screen and (min-width: 768px) {
    width: 570px;
  }
  /* @media screen and (min-width: 1440px) {
    width: 50%;
  } */
}

.bg {
  position: relative;
  min-width: 375px;
  height: 812px;

  background-position: right bottom -80px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    min-width: 768px;
    height: 1024px;
    /* background-image: url(../../../images/params-primary-form-tab.jpg); */
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  @media screen and (min-width: 1440px) {
    min-width: 1440px;
    height: 100vh;
    /* background-image: url(../../../images/params-primary-form-desktop-img1@3x.jpg); */
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.primaryBg {
  background-image: url(../../../images/params-primary-form-mob.jpg);

  @media screen and (min-width: 768px) {
    background-image: url(../../../images/params-primary-form-tab.jpg);
  }
  @media screen and (min-width: 1440px) {
    background-image: url(../../../images/params-primary-form-desktop-img1@3x.jpg);
  }
}

.secondBg {
  background-image: url(../../../images/params-second-form-mob.jpg);

  @media screen and (min-width: 768px) {
    background-image: url(../../../images/params-second-form-tab.jpg);
  }
  @media screen and (min-width: 1440px) {
    background-image: url(../../../images/params-second-form-desktop-img2@3x.jpg);
  }
}

.thirdBg {
  background-image: url(../../../images/params-third-form-mob.jpg);

  @media screen and (min-width: 768px) {
    background-image: url(../../../images/params-third-form-tab.jpg);
  }
  @media screen and (min-width: 1440px) {
    background-image: url(../../../images/params-third-form-desktop-img3@3x.jpg);
  }
}

.title {
  color: var(--main-text-color);
  margin-bottom: 14px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.37;
  }
}
.description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  color: var(--transparent-light-5);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.bnt {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.nextBtn {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
}

.marginBtn {
  margin-left: 16px;
}

.backBtn {
  display: flex;
  align-items: center;
  color: var(--transparent-light-2);
}

.goToBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-right: 16px;
  padding: 16px 75px;
  gap: 10px;

  outline: none;

  color: var(--main-text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  border-radius: 12px;
  background: var(--accent-bright-color);
}

.goToBtn:hover {
  background: var(--accent-medium-color);
}

.boxesWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  width: 50%;

  /* padding-top: 522px; */

  @media screen and (min-width: 768px) {
    width: 40%;
    /* padding-top: 572px;  */
  }
  @media screen and (min-width: 1440px) {
    width: 50%;
    margin: 0;

    padding-top: 187px;
  }
}

.video {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 70px;

  width: 146px;
  height: 66px;
  padding: 18px;

  background-color: var(--dark-color);
  border-radius: 12px;

  @media screen and (min-width: 768px) {
    padding: 28px 23px;
    width: 206px;
    height: 96px;

    margin-bottom: 56px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 39px;
  }
}

.videoQuantity {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;

  margin-bottom: 4px;

  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
  }
}

.videoText {
  color: var(--medium-color);

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.videoInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px;
}

.second {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-left: auto;

  padding: 14px 18px;
  width: 119px;
  height: 76px;

  background-color: var(--accent-medium-color);
  border-radius: 12px;

  @media screen and (min-width: 768px) {
    width: 180px;
    height: 110px;
    padding: 14px 28px;
  }
  @media screen and (min-width: 1440px) {
  }
}

.secondQuantity {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    font-size: 48px;
    font-weight: 700;
    line-height: 50px; /* 104.167% */
  }
}

.secondText {
  color: var(--medium-color);

  margin-left: 11px;

  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;

  @media screen and (min-width: 768px) {
    color: var(--transparent-light-3);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
}

.secondInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.iconPlay {
  width: 40px;
  height: 40px;
  fill: var(--accent-medium-color);
}

.iconRun {
  position: relative;
  top: 1%;
  left: 10%;

  width: 18px;
  height: 18px;

  fill: var(--main-text-color);
}

.cyrcleRun {
  width: 21px;
  height: 21px;
  background-color: var(--accent-light-color);
  border-radius: 50%;
}

.iconWatch {
  position: relative;
  top: 1%;
  right: -6%;

  width: 18px;
  height: 20px;

  outline: none;
  border: none;
  color: var(--main-text-color);
}

.ErrorIcon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  fill: var(--negative-color);
}

.errorMsg {
  align-items: flex-end;
  width: 153px;
  margin-top: 8px;
  font-size: 14px;
  color: var(--negative-dark-color);
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
}

.formList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  /* width: calc((100% - 90px) / 3); */
  margin-bottom: 32px;
}

.formItemWrapper {
  display: flex;
  flex-direction: column;

  /* @media screen and (min-width: 768px) { */

  margin-right: 14px;
  margin-bottom: 14px;
  /* } */
}

.formItemWrapper:last-child {
  @media screen and (max-width: 767px) {
  }
}

.formLabel {
  margin-bottom: 8px;
  color: var(--transparent-light-4);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.formHeightInput {
  color: var(--main-text-color);
  outline: none;
  background: transparent;
  padding: 14px;

  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--transparent-medium-2);

  width: 155px;

  /* ma

  @media screen and (min-width:768px){
    margin: 0;
  } */

  @media screen and (min-width: 1440px) {
    width: 153px;
  }
}

.formHeightInput:focus {
  border: 1px solid var(--accent-bright-color);
}

.formCurrentWeightInput {
  color: var(--main-text-color);
  outline: none;
  background: transparent;
  padding: 14px;

  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--transparent-medium-2);

  width: 159px;

  @media screen and (min-width: 1440px) {
    width: 172px;
  }
}

.formCurrentWeightInput:focus {
  border: 1px solid var(--accent-bright-color);
}

.formDesiredWeightInput {
  color: var(--main-text-color);
  outline: none;
  background: transparent;
  padding: 14px;

  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--transparent-medium-2);

  width: 155px;

  @media screen and (min-width: 1440px) {
    width: 174px;
  }
}

.formDesiredWeightInput:focus {
  border: 1px solid var(--accent-bright-color);
}

.formDatepickerInput {
  color: var(--main-text-color);
  outline: none;
  background: transparent;

  padding: 14px;

  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--transparent-medium-2);

  width: 159px;

  @media screen and (min-width: 1440px) {
    width: 153px;
  }
}

.formDatepickerInput:focus {
  border: 1px solid var(--accent-bright-color);
}

/* Params Second Step */
.secondStepWrapper {
  display: flex;
  /* flex-direction: column; */
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.radioWrapper:not(:last-child) {
  margin-right: 64px;
}

.secondStepActivities {
  display: flex;
  flex-direction: column;

  margin-bottom: 32px;

  @media screen and (max-width: 767px) {
    max-width: 340px;
  }
}

.secondStepDescription {
  color: var(--main-text-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 29px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

.secondStepLabel {
  color: var(--main-text-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* margin-bottom: 29px; */

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    /* margin-bottom: 16px; */
  }
}

.activitiesLabel {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

/* Params Navigation */

.submitPageNav {
  display: flex;
}

.secondStepNav {
  display: flex;
}

/* Radio Btns */

.radio {
  margin-right: 8px;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
  transform: translateY(0.325em);
}

.radio::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 999999px;
  border: 2px solid var(--radio-border-color);
  transition: border-color 0.25s;
}

.radio::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%) scale(0.75);
  display: block;
  opacity: 0;
  width: 11px;
  height: 11px;
  border-radius: 999999px;
  background-color: var(--accent-light-color);
  transition: transform 0.25s, opacity 0.25s;
}

.radio:checked::after {
  opacity: 1;
  transform: translate(-50%, 50%) scale(1);
}

.radio:checked::before {
  border-color: var(--accent-light-color);
}

.input[type='date']::-webkit-calendar-picker-indicator {
  position: relative;
  top: 2.5px;
  background-image: none;
  background-color: var(--main-text-color);
  mask-image: url(../../../images/calendar.svg);
  mask-repeat: no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.input[type='date']::-webkit-calendar-picker-indicator:hover {
  background-color: var(--accent-bright-color);
}
