.backGround {
  position: relative;
  min-width: 375px;
  height: 812px;
  background-image: url(../../images/side-view-people-training-gym-products.jpg);
  background-position: right bottom -80px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  padding-top: var(--padding-top-bg-mob);

  @media screen and (min-width: 768px) {
    min-width: 768px;
    height: 1024px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: var(--padding-top-bg-desktop);
  }
  @media screen and (min-width: 1440px) {
    min-width: 1440px;
    height: 100vh;
    padding-top: var(--padding-top-bg-desktop);
    background-image: url(../../images/side-view-people-training-gym-products.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
