@import-normalize; /* bring in normalize.css styles */
@import './variables.css';

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-regular-webfont.woff2'),
    url('./fonts/roboto-regular-webfont.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-medium-webfont.woff2'),
    url('./fonts/roboto-medium-webfont.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-bold-webfont.woff2'),
    url('./fonts/roboto-bold-webfont.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color) !important;
  min-height: 100vh !important;
  height: 100% !important;
}
html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  scrollbar-color: #458245 #714826;
  scrollbar-width: auto;
}

* {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding-left: 96px;
    padding-right: 96px;
  }
}
