:root {
  --accent-bright-color: #e6533c;
  --accent-medium-color: #ef8964;
  --accent-light-color: #efa082;

  --accent-bright-transparent-color: rgba(230, 83, 60, 1);
  --accent-medium-transparent-color: rgba(239, 137, 100, 1);

  --positive-color: #3cbf61;
  --negative-color: #d80027;

  --main-text-color: rgba(239, 237, 232, 1);
  --main-bg-color: rgba(4, 4, 4, 1);

  --transparent-light-1: rgba(255, 255, 255, 1);
  --transparent-light-2: rgba(239, 237, 232, 0.6);
  --transparent-light-3: rgba(239, 237, 232, 0.65);
  --transparent-light-4: rgba(239, 237, 232, 0.5);

  --transparent-medium-1: rgba(239, 237, 232, 0.4);
  --transparent-medium-2: rgba(239, 237, 232, 0.3);
  --transparent-medium-3: rgba(239, 237, 232, 0.2);
  --transparent-medium-4: rgba(239, 237, 232, 0.1);
  --transparent-medium-5: rgba(239, 237, 232, 0.05);

  --transparent-dark-1: rgba(48, 48, 48, 1);
  --transparent-dark-2: rgba(48, 48, 48, 0.3);
  --transparent-dark-3: rgba(4, 4, 4, 0);
  --transparent-dark-4: rgba(4, 4, 4, 0.5);

  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --padding-top-bg-desktop: 72px;
  --padding-top-bg-mob: 40px;
}
