.container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  justify-content: flex-end;
}

.wrapDate{
  display: flex;
  gap: 8px;
}

.text {
  font-size: 18px;
  font-weight: 700;
  color: var(--main-text-color);
}

.btnCont {
align-items: center;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 24px;
  }
}

.btnArrow {
  fill: var(--transparent-medium-3);
}
.arrow {
  width: 16px;
  height: 16px;
}
.btnArrow:hover {
  fill: var(--main-text-color);
}

.datepickerInput {
  /* display: none; */
  /* visibility: hidden; */
  width: 0px;
  height: 0px;
  /* background-color: transparent; */
}
