.container {
  display: flex;
  margin-top: 40px;
  align-items: flex-end;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 18px;
  font-weight: 700;
  color: var(--main-text-color);
  margin-right: 8px;
}

.btnCont {
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 24px;
  }
}

.btnArrow {
  fill: var(--transparent-medium-3);
}
.arrow {
  width: 16px;
  height: 16px;
}
.btnArrow:hover {
  fill: var(--main-text-color);
}

.datepickerInput {
  /* display: none; */
  /* visibility: hidden; */
  width: 0px;
  height: 0px;
  /* background-color: transparent; */
}
