.container {
  display: flex;
  margin-top: 40px;
  align-items: flex-end;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 18px;
  font-weight: 700;
  color: var(--main-text-color);
  margin-right: 8px;
}

.btnCont {
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 24px;
  }
}
.arrowRight {
  width: 16px;
  height: 16px;
}
.btnArrowRight {
  fill: var(--transparent-medium-3);
}
.btnArrowLeft {
  fill: var(--transparent-medium-3);
}
.arrowLeft {
  width: 16px;
  height: 16px;
}
.btnArrowRight:hover,
.btnArrowLeft:hover {
  fill: var(--main-text-color);
}
