.signUpBtn {
  border: none;
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: inherit;
  background-color: var(--accent-bright-transparent-color);
  color: var(--main-text-color);
  border-radius: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(18 / 16);
  margin-bottom: 12px;
}
.signUpBtn:hover {
  color: var(--main-text-color);
  background: var(--accent-light-color);
}
@media screen and (min-width: 768px) {
  .signUpBtn {
    margin-top: 64px;
  }
}

.singup {
  row-gap: 18px;
}
.signup__input {
  display: block;
  outline: none;
  height: 35px;
  min-width: 283px;
  background-color: transparent;
  color: var(--transparent-medium-2);
  font-size: 14px;
  line-height: calc(18 / 14);
  border-radius: 12px;
  border: 1px solid var(--transparent-light-2);
  margin-bottom: 18px;
  padding: 14px;
}
.signup__input:hover,
.signup__input:focus,
.signup__input:active {
  outline-offset: 0;
  border: 1px solid var(--accent-bright-color);
}
@media screen and (min-width: 768px) {
  .signup__input {
    height: 52px;
    max-width: 364px;
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.errorMessage {
  color: var(--negative-color);
  font-size: 12px;
  line-height: calc(18 / 12);
  letter-spacing: 0.12px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  height: 18px;
}
.errorIcon {
  width: 16px;
  display: inline-block;
  fill: var(--negative-color);
}
.successMessage {
  color: var(--positive-color);
  font-size: 12px;
  line-height: calc(18 / 12);
  letter-spacing: 0.12px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  height: 18px;
}
.successIcon {
  width: 16px;
  display: inline-block;
  fill: var(--positive-color);
}
