.containerSingUp {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #040404;
  min-height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 496px;
  margin: auto;
}

.bg {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.37;
  color: #efede8;
}

.welcome {
  margin-bottom: 12px;
  font-size: 16px;
  text-align: start;
  color: #efede84d;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input {
  width: 364px;
  height: 52px;
  font-size: 14px;
  margin-top: 20px;
  padding: 14px;
  border-radius: 12px;
  color: #efede8;
  outline: none;
  background-color: transparent;
  border: 1px solid #efede84d;
  &::placeholder {
    color: #efede84d;
  }
  &:focus {
    border: 1px solid #e6533c;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 182px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 64px;
  margin-bottom: 12px;
  background: #e6533c;
  color: #efede8;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  :hover {
    color: #efede8;
  }
}

.errorMessage {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #d80027;
}

.linkSingIn {
  font-size: 12px;
  color: #efede899;
}

.link {
  margin-left: 5px;
  font-size: 12px;
  color: #efede8;
  text-decoration: underline;
}

.video {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 206px;
  height: 96px;
  padding: 20px 23px;
  background-color: #303030;
  border-radius: 12px;
}

.calories {
  position: absolute;
  right: 32px;
  bottom: 171px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 180px;
  height: 110px;
  padding: 14px 28px;
  background-color: #ef8964;
  border-radius: 12px;
}

.videoQuantity {
  font-weight: 700;
  font-size: 24px;
  color: #efede8;
}

.caloriesQuantity {
  font-weight: 700;
  font-size: 48px;
  color: #efede8;
}

.videoText {
  font-size: 16px;
  color: #efede8a6;
}

.caloriesText {
  margin-left: 11px;
  font-size: 16px;
  color: #efede8a6;
}

.imgContainer {
  position: relative;
}

.iconPlay {
  width: 40px;
  height: 40px;
  fill: #ef8964;
}

.iconRun {
  width: 24px;
  height: 24px;
  fill: #efa082;
  color: #efede8;
}

.videoInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px;
}

.caloriesInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.ErrorIcon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  fill: #d80027;
}
